<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
		<exclude name="smoketest"></exclude>
		</run>
		</groups>
  <test thread-count="5" name="Test">
  <parameter name="num1" value="10"></parameter>
  <parameter name="num2" value="40"></parameter>
    <classes>
      <class name="testautomationtesting.first_testcase"/>
      <class name="testautomationtesting.priorityintesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
